@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
    --bg-blue: rgb(69, 142, 224);

    color-scheme: light;
    --bg-color: white;
    --font-color: black;
    --about-font-color: rgb(54, 54, 54);
    --svg-fill: black;
    --svg-stroke: white;
    --hover-btns-color: rgba(255, 255, 255, 0.6);
    
}

.dark {
    color-scheme: dark;
    --bg-color: rgb(48, 46, 46);
    --font-color: white;
    --about-font-color: rgb(209, 207, 207);
    --svg-fill: white;
    --svg-stroke: black;
    --hover-btns-color: rgba(0, 0, 0, 0.6);
}

* {
    font-family: "Roboto";
}

html, body {
    margin: 0;
    padding: 0;
}

h1, 
h2,
figcaption {
    font-family: "Google Sans Flex";
    width: max-content;
}

h1:hover {
    cursor: pointer;
    border-bottom: 1px solid;
}

code {
    font-family: monospace;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(95, 137, 175, 0.5);  
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background-color: var(--bg-color);
}

main {
    display: grid;
}

.hover-btns {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 1;

    background-color: var(--hover-btns-color);
    border-radius: 50px;
    
}

.hover-btns svg {
    width: 50px;
    padding: 15px;
    opacity: 0.5;
}

.hover-btns svg:hover {
    opacity: 1;
}

svg {
    cursor: pointer;
    fill: var(--svg-fill);
    stroke: var(--svg-stroke);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

svg:hover {
    transform: scale(1.1);
}

/* About me Section */

figcaption {
    transform: translateY(-20px) translateX(-10px);
    color: rgb(46, 42, 42);
}

.about-me {
    background: linear-gradient(135deg, var(--bg-blue) 60%, var(--bg-color) 60%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me h1,
.about-me figcaption {
    font-size: 2.2em;
}

.about-me > div {
    display: flex;
    background-color: var(--bg-color);
    margin: 30px;
    width: 80%;
    box-shadow: 2px 2px 5px black;
    padding: 20px;
}

.about-me .about-socials {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.about-me svg,
.contact-info svg {
    width: 30px;
}

.about-me img {
    height: 50vh;
    transform-origin: right 120px;
    transform: scale(1.5);
    box-shadow: 2px 2px 5px black;
}

.about-me p {
    color: var(--about-font-color);
}

.about-me .main-content {
    position: relative;
}


/* Projects Section */
.my-work * {
    padding: 0;
    margin: 0;
}

.my-work {
    padding: 30px;
}

.my-work ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    margin-top: 30px;
}

.my-work ul li {
    list-style-type: none;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    border-radius: 7px;

    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.my-work ul li:hover {
    transform: scale(1.01) translateY(-5px);
    
}

.my-work ul li > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-work ul li > div div,
.my-work ul li > div p{
    margin: 10px 10px;
}

.my-work svg {
    width: 25px;
}

.my-work img {
    width: 27vw;
    height: 230px;
    object-fit: cover;
    object-position: center;
}



/* Contact Info Section */
.contact-info {
    background-color: var(--bg-blue);
    color: white;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.contact-info img {
    width: 60vw;
}

/* Tablet experience */
@media screen and (max-width: 800px) {
    figcaption {
        transform: translateY(70px) translateX(-30px);
        color: rgb(82, 81, 81);
    }

    figure {
        width: calc(35vw - 20px);
    }

    .about-me .about-socials {
        bottom: 5%;
        left: calc(-60% - 20px);
    }

    .about-me > div{
        margin-top: 100px;
        height: 72vh;
    }

    .about-me img {
        height: 50%;
        transform-origin: right;
        transform: scale(1.4);
    }

    .my-work ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .my-work img {
        width: 42vw;
    }
    
}

/* Mobile experience */
@media screen and (max-width: 500px) {
    figcaption {
        transform: translateY(60px) translateX(-40px);
        color: rgb(83, 83, 83);        
    }

    figure {
        transform: translateX(30px);
    }

    .about-me {
        height: initial;
        background: linear-gradient(150deg, var(--bg-blue) 60%, white 60%);
    }

    .about-me img {
        height: auto;
        width: 50vw;
        transform-origin: initial;
        transform: scale(1.9) translateY(15%);

    }

    .about-me h1 {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .about-me > div{
        flex-direction: column;
        gap: 10em;
        height: 65em;
        margin: 0px;
        margin-top: 20px;
    }

    .about-me .about-socials {
        bottom: -15%;
    }

    .my-work {
        padding: 5vw;
    }

    .my-work img {
        width: 80vw;
    }

    .my-work ul {
        grid-template-columns: 1fr;
    }

    .contact-info {
        flex-direction: column;
        padding: 0px;
    }

    .contact-info .main-contacts {
        padding: 20px;
    }

    .contact-info img {
        width: 100%;
    }
}